################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ProjetSalle/.vs/ProjetSalle/v15
/.vs/slnx.sqlite
/ProjetSalle/ProjetSalle/obj
/ProjetSalle/ProjetSalleTest/obj
.gitignore.txt
/.vs/slnx.sqlite-journal
