USE [master]
GO
/****** Object:  Database [ProjectC#]    Script Date: 08/12/2018 14:26:48 ******/
CREATE DATABASE [ProjectC#]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectC#', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\ProjectC#.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectC#_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\ProjectC#_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectC#].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectC#]
GO
/****** Object:  Table [dbo].[Command]    Script Date: 08/12/2018 14:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Command](
	[ID] [int] NOT NULL,
	[ID_Customer] [int] NOT NULL,
 CONSTRAINT [Command_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_Customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08/12/2018 14:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Waiting] [int] NOT NULL,
	[Reservation] [bit] NOT NULL,
	[ID_RoundTable] [int] NULL,
 CONSTRAINT [Customer_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 08/12/2018 14:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Wash_Duration] [int] NOT NULL,
	[Status] [varchar](255) NOT NULL,
 CONSTRAINT [Equipment_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 08/12/2018 14:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Stock] [int] NOT NULL,
	[Season] [varchar](255) NOT NULL,
	[Refresh] [varchar](255) NOT NULL,
 CONSTRAINT [Ingredient_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 08/12/2018 14:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Category] [varchar](255) NOT NULL,
	[Price] [int] NOT NULL,
	[Menu] [varchar](255) NOT NULL,
 CONSTRAINT [Recipe_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoundTable]    Script Date: 08/12/2018 14:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoundTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [RoundTable_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Step]    Script Date: 08/12/2018 14:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Step](
	[ID] [int] NOT NULL,
	[ID_Ingredient] [int] NOT NULL,
	[ID_Recipe] [int] NOT NULL,
	[Time] [int] NOT NULL,
 CONSTRAINT [Step_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_Ingredient] ASC,
	[ID_Recipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Using]    Script Date: 08/12/2018 14:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Using](
	[ID] [int] NOT NULL,
	[ID_Customer] [int] NOT NULL,
	[ID_Equipment] [int] NOT NULL,
 CONSTRAINT [Using_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_Customer] ASC,
	[ID_Equipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Name], [Waiting], [Reservation], [ID_RoundTable]) VALUES (1, N'Appril Maximilien', 60, 0, NULL)
INSERT [dbo].[Customer] ([ID], [Name], [Waiting], [Reservation], [ID_RoundTable]) VALUES (2, N'Arnol Maxence', 30, 1, NULL)
INSERT [dbo].[Customer] ([ID], [Name], [Waiting], [Reservation], [ID_RoundTable]) VALUES (3, N'Boogaerts Paul', 90, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([ID], [Name], [Wash_Duration], [Status]) VALUES (1, N'Petite Assiette', 10, N'Propre')
INSERT [dbo].[Equipment] ([ID], [Name], [Wash_Duration], [Status]) VALUES (2, N'Petite Assiette', 10, N'Propre')
INSERT [dbo].[Equipment] ([ID], [Name], [Wash_Duration], [Status]) VALUES (3, N'Petite Assiette', 10, N'Propre')
GO
SET IDENTITY_INSERT [dbo].[Equipment] OFF
SET IDENTITY_INSERT [dbo].[Ingredient] ON 

INSERT [dbo].[Ingredient] ([ID], [Name], [Stock], [Season], [Refresh]) VALUES (1, N'Lieu', 100, N'Hiver', N'2')
INSERT [dbo].[Ingredient] ([ID], [Name], [Stock], [Season], [Refresh]) VALUES (2, N'Andouille', 100, N'Printemps', N'3')
INSERT [dbo].[Ingredient] ([ID], [Name], [Stock], [Season], [Refresh]) VALUES (3, N'Pomme de Terre', 100, N'Ete', N'10')
SET IDENTITY_INSERT [dbo].[Ingredient] OFF
SET IDENTITY_INSERT [dbo].[Recipe] ON 

INSERT [dbo].[Recipe] ([ID], [Name], [Category], [Price], [Menu]) VALUES (1, N'Veloute de champignons', N'Entree', 12, N'Menu1')
INSERT [dbo].[Recipe] ([ID], [Name], [Category], [Price], [Menu]) VALUES (2, N'Tatin de magret de canard au foie gras', N'Entree', 14, N'Menu2')
INSERT [dbo].[Recipe] ([ID], [Name], [Category], [Price], [Menu]) VALUES (3, N'Veloute de carottes au cumin', N'Entree', 13, N'Menu3')
SET IDENTITY_INSERT [dbo].[Recipe] OFF
SET IDENTITY_INSERT [dbo].[RoundTable] ON 

INSERT [dbo].[RoundTable] ([ID], [Number], [Quantity]) VALUES (1, 1, 2)
INSERT [dbo].[RoundTable] ([ID], [Number], [Quantity]) VALUES (2, 2, 2)
INSERT [dbo].[RoundTable] ([ID], [Number], [Quantity]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[RoundTable] OFF
ALTER TABLE [dbo].[Command]  WITH CHECK ADD  CONSTRAINT [Command_Customer0_FK] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Command] CHECK CONSTRAINT [Command_Customer0_FK]
GO
ALTER TABLE [dbo].[Command]  WITH CHECK ADD  CONSTRAINT [Command_Recipe_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[Recipe] ([ID])
GO
ALTER TABLE [dbo].[Command] CHECK CONSTRAINT [Command_Recipe_FK]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [Customer_RoundTable_FK] FOREIGN KEY([ID_RoundTable])
REFERENCES [dbo].[RoundTable] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [Customer_RoundTable_FK]
GO
ALTER TABLE [dbo].[Step]  WITH CHECK ADD  CONSTRAINT [Step_Equipment_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[Equipment] ([ID])
GO
ALTER TABLE [dbo].[Step] CHECK CONSTRAINT [Step_Equipment_FK]
GO
ALTER TABLE [dbo].[Step]  WITH CHECK ADD  CONSTRAINT [Step_Ingredient0_FK] FOREIGN KEY([ID_Ingredient])
REFERENCES [dbo].[Ingredient] ([ID])
GO
ALTER TABLE [dbo].[Step] CHECK CONSTRAINT [Step_Ingredient0_FK]
GO
ALTER TABLE [dbo].[Step]  WITH CHECK ADD  CONSTRAINT [Step_Recipe1_FK] FOREIGN KEY([ID_Recipe])
REFERENCES [dbo].[Recipe] ([ID])
GO
ALTER TABLE [dbo].[Step] CHECK CONSTRAINT [Step_Recipe1_FK]
GO
ALTER TABLE [dbo].[Using]  WITH CHECK ADD  CONSTRAINT [Using_Customer0_FK] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Using] CHECK CONSTRAINT [Using_Customer0_FK]
GO
ALTER TABLE [dbo].[Using]  WITH CHECK ADD  CONSTRAINT [Using_Equipment1_FK] FOREIGN KEY([ID_Equipment])
REFERENCES [dbo].[Equipment] ([ID])
GO
ALTER TABLE [dbo].[Using] CHECK CONSTRAINT [Using_Equipment1_FK]
GO
ALTER TABLE [dbo].[Using]  WITH CHECK ADD  CONSTRAINT [Using_RoundTable_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[RoundTable] ([ID])
GO
ALTER TABLE [dbo].[Using] CHECK CONSTRAINT [Using_RoundTable_FK]
GO
USE [master]
GO
